.dockerignore
docker-compose.yml
Dockerfile

backend/node_modules/
backend/.env
backend/server/node_modules/
backend/server/.env
backend/server/dist/
backend/server/.gitignore
backend/server/.prettierignore

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.gitignore